*{
    margin: 0;
    padding: 0;
}

.body{
    /* background-image: url("images/bg.jpg"); */
    min-height: 100vh;
    background-color: #2C3539;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    /* background: linear-gradient(rgb(132, 247, 239), rgb(184, 151, 242)); */
    background-color: #36454F;
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18, 1fr) ;
}

#scoreBox{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    top: 30px;
    left:30px ;
    color: aliceblue;
}

#highScoreBox{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    top: 70px;
    left: 30px;
    color: aliceblue;
}

.head{
    background-color: red;
    border-radius: 30%;
    /* padding: 10%; */
}

.snake{
    background-color: rgb(66, 246, 123);
    border-radius: 50%;
    /* padding: 10%; */
}

.food{
    /* background-color: rgb(243, 248, 103); */
}











